@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.text-social{
  text-shadow: -1px 0 #3c4043, 0 1px #3c4043, 1px 0 #3c4043, 0 -1px #3c4043;
}


.slick-slider{
  padding-bottom: 10px !important;
}

@keyframes fillAnimation {
  from { width: 0%; }
  to { width: 100%; }
}

.fill-bar {
  animation: fillAnimation 5s ease-out forwards;
}


::-webkit-scrollbar {
  height: 5px !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-left: 7.5vw !important;
  border-radius: 10px !important;
  height: 5px !important;

}

::-webkit-scrollbar-thumb {
  background: #d3cece;
  border-radius: 10px !important;

  height: 5px !important;


}



::-webkit-scrollbar-thumb:active {
  background: #d3cece;
  
  border-radius: 10px !important;

}

.open_accordion {
  animation: fadeIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  max-height: max-content;
  opacity: 1;
  overflow: hidden;
}

.close_accordion {
  animation: fadeOut 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  max-height: 0;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: max-content;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: max-content;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}


