@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes fillAnimation {
  from { width: 0%; }
  to { width: 100%; }
}

.fill-bar {
  animation: fillAnimation 5s ease-out forwards;
}


::-webkit-scrollbar {
  height: 5px !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px !important;
  height: 5px !important;

}

::-webkit-scrollbar-thumb {
  background: #d3cece;
  border-radius: 10px !important;
  height: 5px !important;


}



::-webkit-scrollbar-thumb:active {
  background: #d3cece;
  border-radius: 10px !important;

}
